:root {
  --max-width: 1200px;
  --border-radius: 5px;
  --content-border-radius: 15px;

  --border-color: #e0e0e0;
  --field-background: #ffffff;
  --button-color: #EFEFEF;
  --card-background: #d6e9ff;
  --card-background-darker: #aed6ff;
  --text-color: #2c3e50;
  --background-color: #fafafa;

  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #333333;
    --field-background: #6B6B6B;
    --button-color: #3B3B3B;

    --card-background: #597ea2;
    --card-background-darker: #2c3e50;
    --text-color: #fafafa;
    --background-color: #1f2b38;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: var(--max-width);
  padding: 2rem 6rem;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-weight: 700;
}

.logo img {
  margin-right: 10px;
}


@media (max-width: 1024px) {
  .main {
    padding: 2rem 1rem;
  }
}

@media (max-width: 640px) {
  .main {
    padding: 1rem;
  }
}
