.title {
  margin: 3rem 0 1rem;
  line-height: 1.2;
  font-size: 5rem;
}

.description {
  margin: 0 0 3rem;
  line-height: 1.5;
  font-size: 2rem;
}

@media (max-width: 1024px) {
  .title {
    margin: 1rem 0;
    font-size: 3rem;
  }
  .description {
    font-size: 1.5rem;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1rem;
  }
}
